$blue: #33c1e3;
$coral: #e85f61;
$gray: #727272;
$dark-gray: #414141;
$light-gray: #f6f6f6;

%clearfix
{
  &::after{
	content: "";
  display: block;
  clear: both;
  }
}


// layout
@import "layout/normalize";
@import "layout/settings";
@import "layout/fonts";
@import "layout/fonts/scss/font-awesome";

// sections
@import "sections/header";
@import "sections/about-content";
@import "sections/footer";
@import "sections/start-page";
@import "sections/career-content";
@import "sections/portfolio-content";

//media
@import "media/desktop";
@import "media/laptop";
@import "media/tablet";
@import "media/mobile";
